<div class="row">
    <form class="course-form" name="enrollForm" ng-submit="efc.enrollStudent()">
        <div class="row"><label class="col-md-4">Course Name: </label><span class="col-md-4" ng-bind="efc.courseData.courseName"></span></div><br>
        <div class="row"> <label class="col-md-4">Course Description: </label><span class="col-md-4" ng-bind="efc.courseData.description"></span></div><br>
        <div class="row"><label class="col-md-4">Course Duration: </label><span class="col-md-4" ng-bind="efc.courseData.duration"></span></div><br>
        <div class="row"><label class="col-md-4">Course Coach: </label><span class="col-md-4" ng-bind="efc.courseData.coach"></span></div><br>
        <div class="row"><label class="col-md-4">Course Fees: </label><span class="col-md-4" ng-bind="efc.courseData.courseFee"></span></div><br>
        <div class="row"> <label class="col-md-4">Course Slots: </label><br>
            <ul>

                <li class="col-md-1" ng-repeat="slots in efc.courseData.courseSlots">
                    <input  type="radio" ng-value="slots.timeSlot" name="slotsSelected"
                            ng-model="efc.selectedSlot" ng-disabled="slots.availableSlots==0" >
                    <span ng-bind="slots.timeSlot"></span><br>
                </li>
            </ul>
        </div>
        <div class="row form-group" ng-class="{ 'has-error': enrollForm.fname.$dirty && enrollForm.fname.$error.required }">

            <label class="col-md-4" for="fname">Student First Name</label>
            <input class="col-md-4 form-control" type="text" name="fname" id="fname" ng-model="efc.studentObject.fname" minlength="1" maxlength="500" required>
            <span style="color:red" ng-show="enrollForm.fname.$dirty && enrollForm.fname.$error.minlength" ng-class="help-block">minimum length should be 10</span>
        </div><br>
        <div class="row form-group" ng-class="{ 'has-error': enrollForm.fname.$dirty && enrollForm.fname.$error.required }">

            <label class="col-md-4" for="lname">Student Last Name</label>
            <input class="col-md-4 form-control" type="text" name="lname" id="lname" ng-model="efc.studentObject.lname" minlength="1" maxlength="500" required>
            <span style="color:red" ng-show="enrollForm.lname.$dirty && enrollForm.lname.$error.minlength" ng-class="help-block">minimum length should be 10</span>
        </div><br>
        <div class="row form-group" ng-class="{ 'has-error': enrollForm.emailId.$dirty && enrollForm.emailId.$error.required }">

            <label class="col-md-4" for="emailId">Email Id</label>
            <input class="col-md-4 form-control" type="email" name="lname" id="emailId" ng-model="efc.studEmail" minlength="1" ng-blur="efc.checkStudentExist({studEmail : efc.studEmail})" ng-keyup="efc.checkStudentExist({studEmail : efc.studEmail})" maxlength="500" required>
            <span style="color:red" ng-show="enrollForm.emailId.$dirty && enrollForm.emailId.$error.minlength" ng-class="help-block">minimum length should be 10</span>
          <span style="color:red" ng-if="efc.studAlreadEnrolled == true">You are already enrolled. Only one course per user</span>
        </div><br>
        <input type="submit" class="btn btn-success" value="enroll" ng-disabled="efc.studAlreadEnrolled == true || enrollForm.$invalid">
    </form>

</div>
