<div class="row">
    <h1>Home Page</h1>
<div class="coursetable">
    <button class="btn btn-primary" ng-click="hc.gotAddCourse()">Add Course</button>

    <table ng-table="hc.tableParams"  show-filter="true" class = "table table-bordered">
        <tbody>

        <tr ng-repeat="course in $data"> <!--{{readR1}}-->
            <td title="'Course Name'" filter="{ type: 'text'}" sortable="'courseName'"><span ng-bind="course.courseName">{{course}} </span>
            </td>
            <td title="'Course Description'" filter="{ description: 'text'}" sortable="'description'"><span ng-bind="course.description" ></span></td>
            <td title="'AvailableSeats'" filter="{ availableSeats: 'text'}" sortable="'availableSeats'"><span ng-bind="course.availableSeats" ></span></td>
            <td title="'No of Days'" filter="{ streetVillage: 'text'}" sortable="'noOfDays'"><span ng-bind="course.noOfDays" ></span></td>
           <td><button ng-click="hc.enrollStudent(course)" ng-disabled="course.course.availableSeats == 0">Enroll</button>
            </td>
            <span ng-if="repc.validate == false" ng-bind="repc.message" style="color : red"></span><br>
        </tr>

        </tbody>

    </table>
</div>
</div>