div.header{
    height: 10%;
    background-color: #00B7FF;
}
div.footer{
    height: 5%;
    background-color: #7a43b6;
    color: white;
    padding: 1em;
    clear: left;
    text-align: center;
}

div.view-content{
    margin-top : 5px;
    padding-top: 2%;
    margin-bottom: 3%;
}
.search-form input[type=text],.searchForm input[type=number],.searchForm input[type=date]{
    width: 25%;
}
div.header{
    height: 10%;
    background-color: lightblue;
}
div.footer{
    height: 5%;
    background-color: #0d3349;
    color: white;
    padding: 1em;
    clear: left;
    text-align: center;
}
.search-page{
    margin-top: 5%;
}