div.header{
    height: 10%;
    background-color: #00B7FF;
}
div.footer{
    height: 5%;
    background-color: #7a43b6;
    color: white;
    padding: 1em;
    clear: left;
    text-align: center;
}

div.view-content{
    margin-top : 5px;
    padding-top: 2%;
    margin-bottom: 3%;
}
.course-form input[type=text],input[type=email],input[type=password],input[type=number]{
    width: 25%;
}